Project description

In [ ]:
# step 1: imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# step 2

# Manual Dictionary Construction
# Data Source: Table 1.4 (Jan 2015)
# INSTRUCTION: Complete the lists inside the brackets below.
# Ensure strings have quotes '' and numbers do not.

data = {
    'Country': ['United States', 'Argentina', 'Australia', 'Brazil', 'Britain', 'China', 'Egypt', 'Euro Area',
                'Hong Kong', 'Indonesia', 'Japan', 'Mexico', 'Norway', 'Pakistan', 'Philippines', 'Russia',
                'Saudi Arabia', 'South Africa', 'South Korea'],
    'iso_a3': ['USA', 'ARG', 'AUS', 'BRA', 'GBR', 'CHN', 'EGY', 'EUZ', 'HKG', 'IDN', 'JPN', 'MEX', 'NOR',
               'PAK', 'PHL', 'RUS', 'SAU', 'ZAF',  'KOR'],
    'local_price': [4.79, 3.25, ], # Example: [4.79, 2.89, ...]
    'dollar_ex': []    # Example: [1.0, 0.66, ...]
}

# Convert to DataFrame
df = pd.DataFrame(data)
print(df)